# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
bun.lockb

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
package-lock.json
package.json
tsconfig.app.tsbuildinfo
tsconfig.node.tsbuildinfo
package.json

eslint.config.js
package.json
tailwind.config.js
public/js/styled.js
public/scss/style.scss
src/App.tsx
src/vite-env.d.ts
src/util/token.ts
public/scss/style.scss
eslint.config.js
tailwind.config.js
src/util/token.ts
