// create css component
.footer__title {
  @include text(vnRegular, 14px, 20px, #98a2b3);
  padding-bottom: 16px;
}
.footer__list {
  li {
    padding: 6px 0;
    cursor: pointer;
    a {
      @include text(vnRegular, 16px, 24px, #eaecf0);
      color: var(--white-cl);
      text-decoration: none;
      @include transition(var(--duration));

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.footer-news {
  @include text(vnRegular, 12px, 18px, #101828);
  padding: 2px 8px;
  border-radius: 16px;
  background: #f2f4f7;
  margin-left: 8px;
}
