@use 'mixins';

// create css component
.footer__title {
  @include mixins.text(vnRegular, 0.8rem, 1.25rem, #98a2b3);
  padding-bottom: 1rem;
  @include mixins.md {
    @include mixins.text(vnRegular, 1rem, 1.5rem, #98a2b3);
  }
}

.footer__list {
  li {
    padding: 0.5rem 0;
    cursor: pointer;

    a {
      @include mixins.text(vnRegular, 0.8rem, 1.5rem, #eaecf0);
      color: var(--white-cl);
      text-decoration: none;
      @include mixins.transition(var(--duration));

      &:hover {
        text-decoration: underline;
      }
      @include mixins.md {
        @include mixins.text(vnRegular, 1rem, 1.5rem, #98a2b3);
      }
    }
  }
}

.footer-news {
  @include mixins.text(vnRegular, 0.8rem, 1rem, #101828);
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
  background: #f2f4f7;
  margin-left: 0.5rem;
  @include mixins.md {
    @include mixins.text(vnRegular, 1rem, 1.5rem, #98a2b3);
  }
}

.active {
  width: 100%;
  height: 100%;
  background-color: var(--blue-light) !important;
  color: var(--white-cl) !important;
  @include mixins.transition(var(--duration));
}

.loginForm__right-form,
.registerForm__right-form {
  .btn {
    height: var(--height-button);
    @include mixins.text(vnSemiBold, 1rem, 2.4rem, var(--white-cl));
  }
}

.text_normal {
  @include mixins.text(vnRegular, 0.8rem, 2rem, none, none);
  @include mixins.md {
    @include mixins.text(vnRegular, 1rem, 2rem, none, none);
  }
}

.item__button {
  .item__text {
    padding: 1rem;
    span {
      @include mixins.text(vnRegular, 0.8rem, 2rem, none, none);
    }
    @include mixins.md {
      padding: 1.5rem 0 1.5rem 1rem;
      span {
        @include mixins.text(vnRegular, 1.1rem, 2rem, none, none);
      }
    }
  }
}

.MuiPickersDay-root {
  font-size: 1rem;
}
