@use 'mixins';

// create css component
.footer__title {
  @include mixins.text(vnRegular, 0.8rem, 1.25rem, #98a2b3);
  padding-bottom: 16px;
}
.footer__list {
  li {
    padding: 6px 0;
    cursor: pointer;
    a {
      @include mixins.text(vnRegular, 1rem, 1.5rem, #eaecf0);
      color: var(--white-cl);
      text-decoration: none;
      @include mixins.transition(var(--duration));

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.footer-news {
  @include mixins.text(vnRegular, 0.75rem, 1rem, #101828);
  padding: 2px 8px;
  border-radius: 16px;
  background: #f2f4f7;
  margin-left: 8px;
}

.active {
  width: 100%;
  height: 100%;
  @include mixins.mid(flex);
  background-color: var(--blue-light) !important;
  color: var(--white-cl) !important;
  @include mixins.transition(var(--duration));
}

.loginForm__right-form,
.registerForm__right-form {
  .btn {
    @include mixins.text(vnSemiBold, 1rem, 2.4rem, var(--white-cl));
  }
}

.or-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  .line {
    width: 100%;
    height: 0.8px;
    background: #98a2b3;
  }
  .or {
    @include mixins.text(vnRegular, 1rem, 2rem, #98a2b3);
    margin: 0 12px;
  }
}
.text_normal {
  @include mixins.text(vnRegular, 1rem, 1rem, none, none);
}
.item__button {
  .item__text {
    padding: 20px 0 20px 16px;
    span {
      @include mixins.text(vnRegular, 1rem, 2rem, none, none);
    }
  }
}

.MuiPickersDay-root {
  font-size: 1rem;
}
