@use 'mixins';

.footer {
  background-color: var(--blue-dark);
  color: var(--white-cl);

  .footer__top {
    &-content {
      .footer__thumb {
        background-color: var(--white-cl);

        &-img {
          @include mixins.midImg;
        }
      }

      .footer__info {
        p {
          @include mixins.text(vnRegular, 0.8rem, 1rem, #eaecf0);
          @include mixins.md {
            @include mixins.text(vnRegular, 1rem, 1.5rem, #eaecf0);
          }
        }
      }
    }
  }

  .footer__bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.2);

    &-copyright {
      @include mixins.text(vnRegular, 0.75rem, 1.5rem, rgba(255, 255, 255, 0.6));
    }
  }
}
