@use 'mixins';

.header {
  height: var(--height-header);
  width: 100%;
  display: flex;
  align-items: center;
  top: 0;

  &__toolbar {
    width: 100%;
    @include mixins.mid(flex);
    justify-content: space-between;

    &-btn {
      height: var(--height-button);
      width: fit-content;
      @include mixins.text(vnSemiBold, 0.55rem, normal, var(--blue-light));
      @include mixins.transition(var(--duration));
      @include mixins.md {
        @include mixins.text(vnSemiBold, 1rem, normal, var(--blue-light));
      }
    }
  }

  &.--bg-dark {
    background-color: #d1e9f6;
  }
}
